In [14]:
import pandas as pd

In [15]:
sp_2020_df = pd.read_csv("APAC_SP_2020.csv", sep=",")
sp_2020_df

     PA_SEXO  PA_VALAPR  PA_FLER  ...  PA_NIVCPL  PA_REGCT  PA_SUBFIN
0          M       11.0        0  ...          2         0          0
1          M       11.0        0  ...          2         0          0
2          F       11.0        0  ...          2         0          0
3          M       11.0        0  ...          2         0          0
4          F       11.0        0  ...          2         0          0
...      ...        ...      ...  ...        ...       ...        ...
3248       F       11.0        0  ...          2      7114          0
3249       M       48.0        0  ...          2         0          0
3250       F       11.0        0  ...          2         0          0
3251       M       11.0        0  ...          2         0          0
3252       M       11.0        0  ...          2         0          0

[3253 rows x 60 columns]

In [47]:
#Validando que existem apenas cid L20 no dataframe
sp_2020_df['PA_CIDPRI'].unique()

array(['L20', 'L209', 'L208', 'L200'], dtype=object)

In [16]:
len(sp_2020_df)

3253

In [17]:
for i in range(len(sp_2020_df)):
  val = str(sp_2020_df['PA_MVM'][i])
  split_dates = [val[i:i+4] for i in range(0, len(val), 4)]
  sp_2020_df.loc[i, 'YEAR'] = split_dates[0]
  sp_2020_df.loc[i, 'MONTH'] = split_dates[1]
sp_2020_df

     PA_SEXO  PA_VALAPR  PA_FLER  ...  PA_SUBFIN  YEAR  MONTH
0          M       11.0        0  ...          0  2020     10
1          M       11.0        0  ...          0  2020     10
2          F       11.0        0  ...          0  2020     10
3          M       11.0        0  ...          0  2020     10
4          F       11.0        0  ...          0  2020     10
...      ...        ...      ...  ...        ...   ...    ...
3248       F       11.0        0  ...          0  2020     03
3249       M       48.0        0  ...          0  2020     03
3250       F       11.0        0  ...          0  2020     03
3251       M       11.0        0  ...          0  2020     03
3252       M       11.0        0  ...          0  2020     03

[3253 rows x 62 columns]

In [23]:
#PA_VALAPR - Valor Aprovado do procedimento
sp_2020_valapr = sp_2020_df.groupby(['MONTH'])['PA_VALAPR'].agg('sum')
sp_2020_valapr = pd.DataFrame(sp_2020_valapr)
sp_2020_valapr

       PA_VALAPR
MONTH
01       4467.57
02       3060.18
03       2896.23
04       1967.17
05       2487.91
06       1688.81
07       1958.48
08       3034.77
09       2941.54
10       2998.52
11       3401.26
12       4034.62

In [26]:
#Valor total Aprovado ao longo do ano de 2020 para o estado do SP
sum_valAprovado_2020 = sp_2020_valapr['PA_VALAPR'].sum()
sum_valAprovado_2020

34937.060000000005

In [25]:
#PA_VALPRO NUMERIC - Valor Produzido (APRESENTADO)
sp_2020_valpr = sp_2020_df.groupby(['MONTH'])['PA_VALPRO'].agg('sum')
sp_2020_valpr = pd.DataFrame(sp_2020_valpr)
sp_2020_valpr

       PA_VALPRO
MONTH
01       4467.57
02       3060.18
03       2896.23
04       1991.37
05       2487.91
06       1688.81
07       1958.48
08       3034.77
09       2941.54
10       2998.52
11       3401.26
12       4034.62

In [34]:
#Valor total Produzido ao longo do ano de 2020 para o estado do SP
sum_valProduzido_2020 = sp_2020_valpr['PA_VALPRO'].sum()
sum_valProduzido_2020

34961.26

In [35]:
comparacao = pd.merge(sp_2020_valapr, sp_2020_valpr, how = 'left', on = 'MONTH')
comparacao

       PA_VALAPR  PA_VALPRO
MONTH
01       4467.57    4467.57
02       3060.18    3060.18
03       2896.23    2896.23
04       1967.17    1991.37
05       2487.91    2487.91
06       1688.81    1688.81
07       1958.48    1958.48
08       3034.77    3034.77
09       2941.54    2941.54
10       2998.52    2998.52
11       3401.26    3401.26
12       4034.62    4034.62

In [38]:
comparacao.columns

Index(['PA_VALAPR', 'PA_VALPRO'], dtype='object')

In [41]:
#avaliando a comparaÃ§Ã£o entre os valores produzidos e os aprovados por meses em SP 2020
comparacao["diff"] = comparacao['PA_VALPRO'] - comparacao['PA_VALAPR']
comparacao


#Apenas no mÃªs de abril nÃ£o foi aprovado todo o valor produzido, faltando apenas 24,20 reais para cobrir todo o procedimento

       PA_VALAPR  PA_VALPRO  diff
MONTH
01       4467.57    4467.57   0.0
02       3060.18    3060.18   0.0
03       2896.23    2896.23   0.0
04       1967.17    1991.37  24.2
05       2487.91    2487.91   0.0
06       1688.81    1688.81   0.0
07       1958.48    1958.48   0.0
08       3034.77    3034.77   0.0
09       2941.54    2941.54   0.0
10       2998.52    2998.52   0.0
11       3401.26    3401.26   0.0
12       4034.62    4034.62   0.0

Tabela de carÃ¡ter de atendimento do SUS (fonte: https://bvsms.saude.gov.br/bvs/saudelegis/sas/2007/prt0719_28_12_2007.html)

OBS: 99 = "INFORMAÃ‡ÃƒO INEXISTENTE  (BPA-C)"


![image.png]()

In [42]:
#groupby entre month e PA_CATEND (CarÃ¡ter de Atendimento), somando os valores de PA_VALAPR e PA_VALPRO

sp_2020_pa_catend = sp_2020_df.groupby(['MONTH', 'PA_CATEND'])['PA_VALAPR'].agg('sum')
sp_2020_pa_catend = pd.DataFrame(sp_2020_pa_catend)
sp_2020_pa_catend

                 PA_VALAPR
MONTH PA_CATEND
01    1            1967.81
      2            2499.76
02    1            1361.44
      2            1698.74
03    1            1338.16
      2            1558.07
04    1             978.01
      2             989.16
05    1            1463.33
      2            1024.58
06    1             963.38
      2             660.63
      6              64.80
07    1            1219.47
      2             739.01
08    1            1444.20
      2            1590.57
09    1            1357.54
      2            1584.00
10    1            1636.90
      2            1361.62
11    1            1388.99
      2            2012.27
12    1            1661.97
      2            2372.65

In [44]:
#groupby PA_CATEND (CarÃ¡ter de Atendimento), somando os valores de PA_VALAPR e PA_VALPRO, para o ano todo de 2020 no estado de SP

sp_2020_pa_catend_2 = sp_2020_df.groupby(['PA_CATEND'])['PA_VALAPR'].agg('sum')
sp_2020_pa_catend_2 = pd.DataFrame(sp_2020_pa_catend_2)
sp_2020_pa_catend_2

           PA_VALAPR
PA_CATEND
1           16781.20
2           18091.06
6              64.80

In [45]:
#groupby PA_CATEND (CarÃ¡ter de Atendimento), somando os valores de PA_VALAPR e PA_VALPRO, para o ano todo de 2020 no estado de SP

sp_2020_pa_catend_3 = sp_2020_df.groupby(['PA_CATEND'])['PA_VALPRO'].agg('sum')
sp_2020_pa_catend_3 = pd.DataFrame(sp_2020_pa_catend_3)
sp_2020_pa_catend_3

           PA_VALPRO
PA_CATEND
1           16781.20
2           18115.26
6              64.80

In [46]:
sp_2020_pa_catend_total = pd.merge(sp_2020_pa_catend_2, sp_2020_pa_catend_3, how = 'left', on = 'PA_CATEND')
sp_2020_pa_catend_total

#Nem todo o dinheiro produzido na urgÃªncia foi aprovado, mesmo valor de R$ 24,20 identificado anteriormente

           PA_VALAPR  PA_VALPRO
PA_CATEND
1           16781.20   16781.20
2           18091.06   18115.26
6              64.80      64.80